html, 
body {
    height: 100%;
}

#page-wrapper{
  min-height: 92vh;
}

.main-navbar{
  background-color: #ff6600;
  min-height: 60px!important;
}
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-top-links,
.navbar-top-links a{

  color: #fff;
}

li.dropdown>a{
 min-height: 60px;
}
.nav .dropdown:hover>a,
.nav .dropdown:focus>a,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus{
  background-color: orange;
}

.main{
  background-color: #262626;
}
#side-menu>li>a,
.nav-second-level>li>a{
  color: #fff;
}
#side-menu>li.active > a,
#side-menu>li > a:hover,
.nav-second-level>li>a:hover{
  background-color: dimgray
}
.sidebar ul li {
   border-bottom: 0px solid #e7e7e7; 
}

@media(min-width:768px) {
  .sidebar {
      margin-top: 60px!important;
  }
}

table.showroom > tbody > tr > td,
table.showroom > thead > tr > th {
  vertical-align: middle;
  text-align: left;
}

.form-room>label{
  padding-top: 8px;
  text-align: right
}
.moreBorder{
  border:1px solid #cccccc !important;
  padding: 5px!important
}
.label-status{
  font-size: 12px!important
}
.form-group{
  height: auto;
}

.nav-second-level li{
  color: #337ab7;
}
.nav-second-level li:hover{
  background-color: #eee;
}
.tbEQ-section{
  padding-bottom: 40px;
  margin-bottom: 15px;
  border-bottom: 4px solid gray;
}

.panel-calendar {
  border-color: dimgray
}

.panel-calendar > .panel-heading {
  color: #fff;
  background-color: dimgray;
  border-color: dimgray
}

.button {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */
}

/* Make the badge float in the top right corner of the button */
.button_badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  text-align: center;
  padding:4px 5px;
  font-size: 10px;
  width:15px;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

ul.noti>li{
  width: 300px;
  border-bottom: 1px solid #ddd;
}

p.text-noti {
  padding-left: 15px;
  padding-right: 5px;
  margin-bottom: -10px;
  width: 300px;
  word-wrap: break-word;
  color: #000000;
}

.tabs_reserve_type > li.active > a{
  background-color: #337ab7;
  color: #fff;
  border-color: #337ab7;
}

