table.showroom > tbody > tr > td,
table.showroom > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}
.form-room{
  padding:18px 0px;
  margin-bottom: 20px;
}

.form-room>label{
  padding-top: 8px;
  text-align: right
}