table.showroom > tbody > tr > td,
table.showroom > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}
.form-room{

}

.form-room>label{
  padding-top: 8px;
  text-align: right
}
.moreBorder{
  border:1px solid #cccccc !important;
  padding: 5px!important
}
.label-status{
  font-size: 12px!important
}
.form-group{
  height: auto;
}